{% extends "base.html.twig" %}

{% trans_default_domain 'site' %}

{% block main %}
    <div class="container py-3">
        <h1>Lorem ipsum dolor sit amet</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis cumque, delectus excepturi exercitationem,
            fugiat, fugit harum laudantium magni qui quos reiciendis rem unde ut! Adipisci ducimus ex itaque labore
            non?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis cumque, delectus excepturi exercitationem,
            fugiat, fugit harum laudantium magni qui quos reiciendis rem unde ut! Adipisci ducimus ex itaque labore
            non?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis cumque, delectus excepturi exercitationem,
            fugiat, fugit harum laudantium magni qui quos reiciendis rem unde ut! Adipisci ducimus ex itaque labore
            non?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis cumque, delectus excepturi exercitationem,
            fugiat, fugit harum laudantium magni qui quos reiciendis rem unde ut! Adipisci ducimus ex itaque labore
            non?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis cumque, delectus excepturi exercitationem,
            fugiat, fugit harum laudantium magni qui quos reiciendis rem unde ut! Adipisci ducimus ex itaque labore
            non?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis cumque, delectus excepturi exercitationem,
            fugiat, fugit harum laudantium magni qui quos reiciendis rem unde ut! Adipisci ducimus ex itaque labore
            non?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis cumque, delectus excepturi exercitationem,
            fugiat, fugit harum laudantium magni qui quos reiciendis rem unde ut! Adipisci ducimus ex itaque labore
            non?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis cumque, delectus excepturi exercitationem,
            fugiat, fugit harum laudantium magni qui quos reiciendis rem unde ut! Adipisci ducimus ex itaque labore
            non?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis cumque, delectus excepturi exercitationem,
            fugiat, fugit harum laudantium magni qui quos reiciendis rem unde ut! Adipisci ducimus ex itaque labore
            non?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis cumque, delectus excepturi exercitationem,
            fugiat, fugit harum laudantium magni qui quos reiciendis rem unde ut! Adipisci ducimus ex itaque labore
            non?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis cumque, delectus excepturi exercitationem,
            fugiat, fugit harum laudantium magni qui quos reiciendis rem unde ut! Adipisci ducimus ex itaque labore
            non?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis cumque, delectus excepturi exercitationem,
            fugiat, fugit harum laudantium magni qui quos reiciendis rem unde ut! Adipisci ducimus ex itaque labore
            non?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis cumque, delectus excepturi exercitationem,
            fugiat, fugit harum laudantium magni qui quos reiciendis rem unde ut! Adipisci ducimus ex itaque labore
            non?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis cumque, delectus excepturi exercitationem,
            fugiat, fugit harum laudantium magni qui quos reiciendis rem unde ut! Adipisci ducimus ex itaque labore
            non?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis cumque, delectus excepturi exercitationem,
            fugiat, fugit harum laudantium magni qui quos reiciendis rem unde ut! Adipisci ducimus ex itaque labore
            non?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis cumque, delectus excepturi exercitationem,
            fugiat, fugit harum laudantium magni qui quos reiciendis rem unde ut! Adipisci ducimus ex itaque labore
            non?</p>
    </div>
{% endblock %}
