{% extends "base.html.twig" %}

{% block main %}
    <div class="container">
        {{ form_start(form) }}
        {{ form_rest(form) }}
        <button type="submit">aa</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
